*{
	margin:0 ;
	padding:0;
	font-family:Roboto,Tahoma;
}

html{
		background-image:url("../img/One-Piece-New-World-Nami-Wallpapers-for-Computer.jpg");
}

body{
	max-width: 960px; /* chiều rộng tối đa là 960px */
	margin:0 auto;
	/*background-color : lightgray;*/
}

/* ---------------------- start header ---------------------- */
#header{
	width: 100%;
	min-height: 250px;
	/*background-color: lightpink;*/
	background-color:transparent;
}

#logo{
	width: 20%;
	height:100%;
	min-height:250px;
	/*background-color: red;*/
	float:left;
}

#logo img{
	max-width:100%;
	display:block;

}

#search{
	width:100%;
	float:left;
	
}
/*------------ end header -----------------------*/



/*--------- start content -------------------*/
#main-content{
	max-width:100%;
	min-height:500px;
	/*background-color:lightblue;*/	
}

/*------------  end content ------------------------*/

/*------------- start footer ------------*/
#footer{
	max-width:100%;
	min-height:120px;
	background-color:gray;
}
/*------------- end footer -----------------*/

@import  url("main2.css")